* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
  }
  

  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #084F3F, #1B8D70);
    padding: 20px 60px;
    color: white;
    position: relative;
  }
  
  .logo img {
    height: 35px;
    width: auto;
  }
  
  /* Hamburger Icon */
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: white;
  }
  
  .nav-right {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  
  .nav-right li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
    font-size: 20px;
  }
  
  .nav-right li a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  
  .nav-right li a:hover {
    text-decoration: underline;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-right {
      display: none;
      flex-direction: column;
      background-color: #23C363;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      padding: 20px 0;
      text-align: center;
      gap: 20px;
    }
  
    .nav-right.show {
      display: flex;
    }
  }
  .auth-links a {
    font-weight: normal;
  }
  